*{
    margin: 0;
    box-sizing: inherit;
}

.clock{
    width: 80%;
    margin: auto;
    overflow: auto;
    display: flex;

  

}

.clock > button{
    width: 25%;
    border: none;
    font-family: 'Space Mono', monospace;
    
}

.timer{
    width: 70%;
    text-align: center;
    background-color: rgb(207, 247, 247);
}

.timer button{
    padding: 15px 10px;
    border: none;
    font-family: 'Orbitron', sans-serif;
    background-color: inherit;
    font-size: 35px;
}


/* body material */

.container{
    position: relative;
    width: 80%;
    height: 852px;
    margin: auto;
    border: 1px solid purple;
   
  
}

.row{
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
.videoCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.videoCard button{
    border: none;

    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    
}

.card img{
    width: 100%;
    
}

.card p{
    letter-spacing: 2px;
    font-family:Arial, Helvetica, sans-serif;
}

#artistName{
    margin-bottom: 5px;
}

#name{
    margin-bottom: 5px;
    color: grey;
}

.cardContainer {
    padding: 0 16px;
  }

.cardContainer::after, .container::after {
    content: "";
    clear: both;
    display: table;
  }

.cardContainer button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.video{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* footer */
.footer{
    background-color: rgb(207, 247, 247);
    width: 80%;
    margin: auto;
    font-size: 30px;
    display: flex;
    justify-content: center;
}



/* buttons */

.buttons{
    text-align: center;
    width: 100px;
    padding: 0 10px;
    font-size: 30px;
    position: absolute;
    top: 100px;
    
    
}

.buttons > button{
    padding: 10px 5px;
    margin-top: 30px;
    background-color: rgb(207, 247, 247);
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    text-transform: uppercase;
}







/*
@media only screen and (max-width: 800px){
    .timer button{
        font-size: 25px;
    }

    .container{
        float: left;
    }

    .clock{
        float: left;
    }

    .buttons{
        position: absolute;
        top: 100px;
        left: 630px;
        z-index: 2;

    }
}

*/